@( categories: List[Category], amounts: List[Amount], measurements: List[Measurement])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/stylesheets/custom.css">
    <link rel="stylesheet" href="/assets/stylesheets/addrecipe.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <title>Add Recipe</title>
</head>
<body>
@NavBar.render("addrecipe")
<h1>ADD NEW RECIPE</h1>
<form method="post" enctype="multipart/form-data">
    @CSRF.formField
    Recipe Name:<input type="text" name="recipeName" id="recipeName" maxlength="200">

    Author:<input type="text" name="authorName" id="authorName" maxlength="75">
    <br><br>
    Cook Time:<input type="text" name="cookTime" id="cookTime" maxlength="100">
    Serving Size:<input type="text" name="servingSize" id="servingSize" size="10" maxlength="15">
    <br><br>
    Add a Photo: <input type="file" id="photo" name="photo" >
    <br><br>
  Choose a Category:  <select name="categoryId" id="categoryId">
        @for(category <- categories){
        <option value="@category.getCategoryId">@category.getCategoryName</option>
        }
    </select>
    <br>
    Ingredients:
    <br>
    <select name="amountId1" id = "amountId1">
        @for(amount <- amounts){
        <option value="@amount.getAmountId">@amount.getAmountName</option>
        }
    </select>
    <select name="measurementId1" id="measurementId1">
        @for(measurement <- measurements){
        <option value="@measurement.getMeasurementId">@measurement.getMeasurementName</option>}

    </select>
    <input type="text" name="ingredientName1" id="ingredientName1" maxlength="100">
    <br>
    <select name="amountId2" id = "amountId2">
        @for(amount <- amounts){
        <option value="@amount.getAmountId">@amount.getAmountName</option>
        }
    </select>
    <select name="measurementId2" id="measurementId2">
        @for(measurement <- measurements){
        <option value="@measurement.getMeasurementId">@measurement.getMeasurementName</option>}

    </select>
    <input type="text" name="ingredientName2" id="ingredientName2" maxlength="100">
    <br>
    <select name="amountId3" id = "amountId3">
        @for(amount <- amounts){
        <option value="@amount.getAmountId">@amount.getAmountName</option>
        }
    </select>
    <select name="measurementId3" id="measurementId3">
        @for(measurement <- measurements){
        <option value="@measurement.getMeasurementId">@measurement.getMeasurementName</option>}

    </select>
    <input type="text" name="ingredientName3" id="ingredientName3" maxlength="100">

        <div id="ingredients"></div>
        <button class="button button1" type="button" id="addIngredient">Add Ingredient</button>
    <script type="text/javascript" id="amount" src="/assets/javascripts/ingredientsfields.js"
            amountsId="@for(i<-0 to amounts.size()-1){@amounts.get(i).getAmountName@if(i<amounts.size()-1){,}}"
            amounts="@for(i<-0 to amounts.size()-1){@amounts.get(i).getAmountId@if(i<amounts.size()-1){,}}"
            quantity="@for(j<-0 to measurements.size()-1){@measurements.get(j).getMeasurementName@if(j<measurements.size()-1){,}}"
            quantityIds="@for(j<-0 to measurements.size()-1){@measurements.get(j).getMeasurementId@if(j<measurements.size()-1){,}}"
            >

    </script>
    <br>
    <br>
    Directions:<br>
    <p><input type="text" name="stepNumber1" value="1" id="stepNumber1" size="3" maxlength="3"><textarea name="step1" cols="50" rows="4"></textarea></p>
    <p> <input type="text" name="stepNumber2" value="2" id="stepNumber2" size="3" maxlength="3"><textarea name="step2" cols="50" rows="4"></textarea></p>
    <p> <input type="text" name="stepNumber3" value="3" id="stepNumber3" size="3" maxlength="3"><textarea name="step3" cols="50" rows="4"></textarea></p>




    @helper.CSRF.formField
    <div id="directions"></div>
    <button class="button button2" type="button" id="addDirection">Add Direction</button>
    <br><br>
    <input class="button button3" type="submit" value="Submit">
</form>
<script type="text/javascript" id="direct" src="/assets/javascripts/directionsfields.js" ></script>
</body>
</html>