@(appetizers : List[Recipe])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" >
    <title>Appetizers</title>
</head>
<body>
@NavBar.render("appetizers")

<table>
    @for(appetizer <- appetizers){
    <tr>
        <td><a href="recipe/@appetizer.getRecipeId">@appetizer.getRecipeName</a></td>
    </tr>
    }
</table>

</body>
</html>