@(breakfasts : List[Recipe])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" >
    <title>Breakfast</title>
</head>
<body>
@NavBar.render("breakfast")

<table>
    @for(breakfast <- breakfasts){
    <tr>
        <td><a href="recipe/@breakfast.getRecipeId">@breakfast.getRecipeName</a></td>
    </tr>
    }
</table>

</body>
</html>