@(pictures: List[Recipe])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/stylesheets/custom.css">
    <link rel="stylesheet" href="/assets/stylesheets/home.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/popper.js/umd/popper.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
@NavBar.render("Home")
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-5">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- The slideshow -->
                <div class="carousel-inner">
                    @for(i <- 0 until pictures.length){
                    <div class="carousel-item @if(i==0){active}">
                        @if(pictures.get(i).getPicture ==null){
                        <img src="/assets/images/defaultpicture.jpg" height="500" width="400" alt="@pictures.get(i).getRecipeName">
                        }else{
                        <img src="/picture/@pictures.get(i).getRecipeId" height="500" width="400" alt="@pictures.get(i).getRecipeName">
                        }
                        <div class="carousel-caption">
                            <h3><a href="@pictures.get(i).getRecipeId">@pictures.get(i).getRecipeName</a> </h3>
                        </div>

                    </div>
                    }
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>