@(drinks : List[Recipe])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/stylesheets/custom.css">
    <title>Drinks</title>
</head>
<body>
@NavBar.render("drink")

<table>
    @for(drink <- drinks){
    <tr>
        <td><a href="recipe/@drink.getRecipeId">@drink.getRecipeName</a></td>
    </tr>
    }
</table>

</body>
</html>
