@(entrees : List[Recipe])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/stylesheets/custom.css">
    <link rel="stylesheet" href="/assets/stylesheets/entree.css">
    <title>Entrees</title>
</head>
<body>
@NavBar.render("entree")
<h1>ENTREES</h1>
<div class="col-12" align="center">
    <table align="center">
        @for(entree <- entrees){
    <tr>
        <td><a href="recipe/@entree.getRecipeId">@entree.getRecipeName</a></td>
    </tr>
    }
</table>
</div>
</body>
</html>