@(page:String)
<nav class="navbar navbar-expand-lg ">
    <ul class="navbar-nav">
        @if("Home".equals(page)){
        <li class="nav-item active" >
            }else{
        <li class="nav-item">}
            <a class="nav-link" href="/home">Home</a>
        </li>
        @if("Breakfast".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">}
            <a class="nav-link" href="/breakfast">Breakfast</a>
        </li>
        @if("Appetizers".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">}
            <a class="nav-link" href="/appetizers">Appetizers</a>
        </li>
        @if("Salad/Soup".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">}
            <a class="nav-link" href="/saladsoup">Salad/Soup</a>
        </li>
        @if("Entree".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">}
            <a class="nav-link" href="/entree">Entree</a>
        </li>
        @if("Dessert".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">}
            <a class="nav-link" href="/dessert">Dessert</a>
        </li>
        @if("Drinks".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">}
            <a class="nav-link" href="/drinks">Drinks</a>
        </li>
        @if("AddRecipe".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">}
            <a class="nav-link" href="/addrecipe">Add Recipe</a>
        </li>

    </ul>
</nav>
