@(recipe:Recipe, ingredients:List[IngredientMeasurement], directions:List[Directions])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/stylesheets/custom.css">
    <link rel="stylesheet" href="/assets/stylesheets/recipedisplay.css">
    <title>@recipe.getRecipeName</title>
</head>
<body>
<div class="navbar">
    @NavBar.render("recipe")
</div>
<br>
<div class="col-12">
    <div class="pic">
@if(recipe.getPicture!=null){
<image src="/picture/@recipe.getRecipeId" height="200" height="200"></image>
    }else{
    <image src="/assets/images/defaultpicture.jpg" height="200"></image>
    }</div>
<h1>@recipe.getRecipeName</h1>
<h3>@recipe.getAuthor</h3>
<p class="time">@recipe.getCookTime</p>
</div>
<br>
<br>
<div class="details">
<p>

    @for(ingredient <- ingredients){
    @ingredient.getMeasurementName
    @ingredient.getAmountName
    @ingredient.getIngredientName<p></p>
    }</p></div>
<br>
<br>
<div class="directions">
<p>@for(direction <- directions){
    @if(direction.getStep.length > 0){
    @direction.getStepNumber. @direction.getStep<p></p><br>
    }else{

    }

    }</p></div>
</body>
</html>